html, body, #root {
  width: 100%;
  height: 100%;
}
input[type=password] {
  -webkit-appearance: none;
  border: none;
}
input[type=password]:focus {
  border: none;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind preflight;